lwfe/bin/Debug
lwfe/bin/Release
lwfe/obj
cov-int
deploy
Debug
Release
CMakeCache.txt
cmake_install.cmake
CMakeFiles
install_manifest.txt
Makefile
lwmovie-cov.tar.gz
*.a
*.user
*.sdf
*.suo
*.opensdf
*.ipch
*.dll
*.exe
*.pdf
*.tmp
*.zip
*.7z
*.gz
*.tar
*.xz
*.vspx
*.opendb
.vs
!x64/Release/SDL.dll
!external-sources/*
