lwfe/bin/Debug
lwfe/bin/Release
lwfe/obj
cov-int
Debug
Release
CMakeCache.txt
cmake_install.cmake
CMakeFiles
install_manifest.txt
Makefile
lwmovie-cov.tar.gz
*.a
*.user
*.sdf
*.suo
*.opensdf
*.ipch
*.dll
*.exe
