lwfe/obj
cov-int
deploy
build.force
CMakeCache.txt
cmake_install.cmake
CMakeFiles
install_manifest.txt
Makefile
lwmovie-cov.tar.gz
*.a
*.user
*.sdf
*.suo
*.opensdf
*.ipch
*.dll
*.exe
*.pdf
*.tmp
*.zip
*.7z
*.gz
*.tar
*.xz
*.vspx
*.opendb
*.iobj
*.ipdb
*.pdb
*.lib
*.exp
.vs
Debug
!external-sources/*

